
.theme {
    display: flex;
    justify-content: end;
    height: 35px;
    border: 2px solid #535bf2;;
    border-radius: 35px;    
    width: 60px;
    position: fixed;
    top: 30px;
    right: 50px;
}

.theme-btn {  
    height: 32px;
    width: 32px;
    padding: 0;  
    border-radius: 50%;    
    background-color: #535bf2;
}